# Server Configuration
NODE_ENV=development
PORT=3001
HOST=localhost

# Database Configuration
# Connect to Supabase via connection pooling
DATABASE_URL=""
# Direct connection to the database. Used for migrations
DIRECT_URL=""

SUPABASE_URL=
SUPABASE_KEY=

# CORS Configuration
CORS_ORIGIN=*
CORS_METHODS=GET,HEAD,PUT,PATCH,POST,DELETE
CORS_HEADERS=Content-Type,Authorization
CORS_CREDENTIALS=true

# Logging Configuration
LOG_LEVEL=debug
LOG_PRETTY_PRINT=true

# Security Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=1d
COOKIE_SECRET=your_cookie_secret_key

# Rate Limiting
RATE_LIMIT_WINDOW=15m
RATE_LIMIT_MAX=100 

#Health Check
HEALTH_CHECK_PATH=
HEALTH_CHECK_INTERVAL=
HEALTH_CHECK_TIMEOUT=